body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: chocolate;
  }
  
  .menu-card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: blanchedalmond;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  li::before {
    content: "\2022"; /* Bullet point character */
    display: inline-block;
    margin-right: 10px;
    color: #999;
  }
  
  li:hover {
    background-color: #aa5656;
    transition: background-color 0.2s ease-in-out;
  }